#### Colab에서 런타임이 끊기는 걸 방지하기 위한 코드:

(코드 실행 전 우클릭>검사>Console 에 삽입)

function ClickConnect(){  
console.log("Working");   
document.querySelector("colab-toolbar-button#connect").click()   
}  
setInterval(ClickConnect,60000)

In [1]:
import pandas as pd
import numpy as np
telescope_data=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/magic/magic04.data',header=None)

In [2]:
from IPython.display import display

In [3]:
telescope_data.columns = ['fLength', 'fWidth','fSize','fConc','fConcl','fAsym','fM3Long','fM3Trans','fAlpha','fDist','class']
display(telescope_data.head())
display(telescope_data.info())
display(telescope_data.describe())
display(telescope_data['class'].value_counts())

,fLength,fWidth,fSize,fConc,fConcl,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19020 entries, 0 to 19019
Data columns (total 11 columns):
fLength     19020 non-null float64
fWidth      19020 non-null float64
fSize       19020 non-null float64
fConc       19020 non-null float64
fConcl      19020 non-null float64
fAsym       19020 non-null float64
fM3Long     19020 non-null float64
fM3Trans    19020 non-null float64
fAlpha      19020 non-null float64
fDist       19020 non-null float64
class       19020 non-null object
dtypes: float64(10), object(1)
memory usage: 1.6+ MB

None

,fLength,fWidth,fSize,fConc,fConcl,fAsym,fM3Long,fM3Trans,fAlpha,fDist
count,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000
mean,53.250154,22.180966,2.825017,0.380327,0.214657,-4.331745,10.545545,0.249726,27.645707,193.818026
std,42.364855,18.346056,0.472599,0.182813,0.110511,59.206062,51.000118,20.827439,26.103621,74.731787
min,4.283500,0.000000,1.941300,0.013100,0.000300,-457.916100,-331.780000,-205.894700,0.000000,1.282600
25%,24.336000,11.863800,2.477100,0.235800,0.128475,-20.586550,-12.842775,-10.849375,5.547925,142.492250
50%,37.147700,17.139900,2.739600,0.354150,0.196500,4.013050,15.314100,0.666200,17.679500,191.851450
75%,70.122175,24.739475,3.101600,0.503700,0.285225,24.063700,35.837800,10.946425,45.883550,240.563825
max,334.177000,256.382000,5.323300,0.893000,0.675200,575.240700,238.321000,179.851000,90.000000,495.561000

g    12332
h     6688
Name: class, dtype: int64

In [4]:
telescope_shuffle=telescope_data.iloc[np.random.permutation(len(telescope_data))]
tele=telescope_shuffle.reset_index(drop=True)
tele.head()

,fLength,fWidth,fSize,fConc,fConcl,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class
0,94.7524,42.9794,3.9488,0.1286,0.0663,14.8095,47.6018,23.6794,2.9513,344.101,g
1,19.9789,12.6915,2.4541,0.5448,0.3462,12.6925,16.8664,-5.0556,12.7586,205.861,g
2,21.2362,6.9481,2.1255,0.7191,0.4007,-23.0280,-12.3834,-6.2814,30.5302,157.978,g
3,13.0845,11.0796,2.1717,0.7609,0.3872,-14.9539,2.8947,-11.8400,37.9872,194.578,g
4,45.2392,16.3478,2.9694,0.3444,0.1776,-11.7121,44.0070,-9.6365,0.6090,233.861,g

In [5]:
tele['class']=tele['class'].map({'g':0,'h':1})

tele.head()

,fLength,fWidth,fSize,fConc,fConcl,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class
0,94.7524,42.9794,3.9488,0.1286,0.0663,14.8095,47.6018,23.6794,2.9513,344.101,0
1,19.9789,12.6915,2.4541,0.5448,0.3462,12.6925,16.8664,-5.0556,12.7586,205.861,0
2,21.2362,6.9481,2.1255,0.7191,0.4007,-23.0280,-12.3834,-6.2814,30.5302,157.978,0
3,13.0845,11.0796,2.1717,0.7609,0.3872,-14.9539,2.8947,-11.8400,37.9872,194.578,0
4,45.2392,16.3478,2.9694,0.3444,0.1776,-11.7121,44.0070,-9.6365,0.6090,233.861,0

In [6]:
tele_class = tele['class'].values

In [7]:
pd.isnull(tele).any()

fLength     False
fWidth      False
fSize       False
fConc       False
fConcl      False
fAsym       False
fM3Long     False
fM3Trans    False
fAlpha      False
fDist       False
class       False
dtype: bool

In [8]:
from sklearn.model_selection import train_test_split
training_indices, validation_indices = training_indices, testing_indices = train_test_split(tele.index,
                                                                                            stratify = tele_class,
                                                                                            train_size=0.75, test_size=0.25)

In [9]:
training_indices.size, validation_indices.size

(14265, 4755)

In [ ]:
from tpot import TPOTClassifier
from tpot import TPOTRegressor

tpot = TPOTClassifier(generations=5,verbosity=2, config_dict='TPOT light')

tpot.fit(tele.drop('class',axis=1).loc[training_indices].values,
         tele.loc[training_indices,'class'].values)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=600, style=ProgressStyle(descript…